.AddNewBook {
  height: auto;
  border-radius: 4px;
  justify-content: center;
}

.AddNewBook > div {
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

.FormFields {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

#Form {
  display: flex;
  gap: 2.125rem;
  justify-content: space-between;
}

.author {
  width: 25%;
}

.title {
  width: 50%;
}

#Form > input {
  padding: 0.813rem;
}

.SubmitButton {
  display: inline-block;
  background-color: #0290ff;
  color: #eee;
  text-align: center;
  font-size: 1rem;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 3px;
  width: 11.5rem;
  border: none;
  padding: 0.813rem;
}

.SubmitButton:hover {
  background-color: orange;
  transform: rotate(2deg);
}

.SubmitButton:active {
  background-color: cyan;
  transform: rotate(-2deg);
}
